@page
@model H2School_PortFolieProject.Pages.ContactModel
@{
    ViewData["Title"] = "Contact Me";
}

<div class="text-center">
    <h1 class="display-4">Got any questions or ideas?</h1>
    <p>Under here you can let me know if you have any sort of inputs, ideas or tips.</p>
    <div class="container">
        <div class="row">
            <div class="col-sm">
                
            </div>
        </div>
        <div class="row">
            <div class="col-md text-center">
                <form class="form-group">
                    <label>Enter email: </label>
                    <input placeholder="Enter Email..." /> <br>
                    <label>Enter name: </label>
                    <input placeholder="Enter First Name..." /> <br>
                    <label>Enter mobile: </label>
                    <input placeholder="Enter Number..." />
                </form>
            </div>
        </div>
        <div class="row">
            <div class="col-md">
                <form method="post">
                    <textarea class="form-control" name="" rows="8"></textarea>
                </form>
            </div>
        </div>
        <div class="row">
            <div class="col-md">
                <br />
                <button class="btn btn-dark" name="Submit">Submit</button>
            </div>
        </div>
    </div>
</div>