@page
@model H2School_PortFolieProject.Pages.ContactModel
@{
    ViewData["Title"] = "Contact Me";
}

<div class="text-center">
    <h1 class="display-4">Got any questions or ideas?</h1>
    <p>Under here you can let me know if you have any sort of inputs, ideas or tips.</p>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <input placeholder="Enter Email..." />
                <input placeholder="Enter First Name..." />
                <input placeholder="Enter Last Name..." />
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <textarea></textarea>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <button class="btn btn-dark" name="Submit">Submit</button>
            </div>
        </div>
    </div>
</div>