@page
@model H2School_PortFolieProject.Pages.ContactModel
@{
    ViewData["Title"] = "Contact Me";
}

<div class="text-center">
    <h1 class="display-4">Welcome!</h1>
    <p>Choose between searching for a specific PC or a specific User.</p>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <a href="/UserSearch" class="btn btn-outline-danger" role="button">Search for a User</a>
            </div>
        </div>
    </div>
</div>