body {

}

.footer-layout {
    background-size: 100%;
    background: none repeat scroll 0% 0% #FFCBA4;
    background-clip: padding-box;
    border-top: 4px solid rgba(0,0,0,.1);
    padding-top: 4px;
    bottom: 0;
    color: #444444;
    left: 0;
    position: fixed;
    width: 100%;
}

.footer-layout-nav {
    float: left;
    list-style-type: none;
    padding: 0;
    width: 100%;
    margin-bottom: 5px
}
